absl-py==2.1.0
awscli==1.32.86
backports.tarfile==1.1.0
boto3==1.34.86
botocore==1.34.86
certifi==2023.7.22
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.4
contourpy==1.2.1
cycler==0.10.0
defusedxml==0.7.1
docker==7.0.0
docutils==0.16
filelock==3.13.4
fire==0.6.0
fonttools==4.51.0
fsspec==2024.3.1
gitdb==4.0.11
GitPython==3.1.43
grpcio==1.62.1
huggingface-hub==0.22.2
idna==2.10
jaraco.classes==3.4.0
jaraco.context==5.3.0
Jinja2==3.1.3
jmespath==1.0.1
keyring==8.7
keyrings.alt==5.0.1
kiwisolver==1.4.5
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.8.4
more-itertools==10.2.0
mpmath==1.3.0
networkx==3.3
numpy==1.26.4
opencv-python==4.7.0.72
opencv-python-headless==4.8.0.74
packaging==24.0
pandas==2.2.2
pillow==10.3.0
protobuf==5.26.1
psutil==5.9.8
py-cpuinfo==9.0.0
pyasn1==0.6.0
pybboxes==0.1.6
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-magic==0.4.27
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
requests==2.31.0
requests-toolbelt==1.0.0
roboflow==1.1.27
rsa==4.7.2
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.10.1
sahi==0.11.15
scipy==1.13.0
seaborn==0.13.2
shapely==2.0.4
six==1.16.0
smmap==5.0.1
supervision==0.19.0
sympy==1.12
tabulate==0.9.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
termcolor==2.4.0
terminaltables==3.1.10
thop==0.1.1.post2209072238
torch==2.2.2
torchvision==0.17.2
tqdm==4.66.2
typing_extensions==4.11.0
tzdata==2024.1
ultralytics==8.2.1
urllib3==2.2.1
voluptuous==0.14.2
websockets==12.0
Werkzeug==3.0.2
yolo==0.3.1
yolov5==7.0.13
yolov8==0.0.2
