@mixin grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--gutter);

  @include media("<=tablet") {
    grid-template-columns: repeat(6, 1fr);
  }

  @include media("<=phone") {
    grid-template-columns: repeat(4, 1fr);
  }
}