/* Heading font */
@mixin ts-heading-1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin ts-heading-2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin ts-heading-3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin ts-heading-4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Main body font */
@mixin ts-body {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Meta tag font */
@mixin ts-meta {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}