:root {
  /*spacing */
  --space-xxs: 0.5rem; // 8px
  --space-xs: 1rem; // 16px
  --space-s: 1.5rem; // 24px
  --space-m: 2rem; // 32px
  --space-l: 3rem; // 48px
  --space-xl: 4rem; // 64px
  --space-xxl: 5rem; // 80px

  --gutter: 2rem; // 32px

  /*colours*/
  --white: #fff;
  --black: #000;
  --cream: #faead8;
  --dark-green: #419170;
  --light-green: #CEE4DB;

  /*fonts*/
  --body-font-family: 'Londrina Solid', sans-serif;
  --base-font-size: 36px;
  --base-font-weight: 400;
}

#app {
  font-family: var(--body-font-family);
}

body {
  background-color: var(--cream);
  margin: 0;
}

.o-section {
  margin-top: var(--space-xl);

  &:last-child {
    margin-bottom: var(--space-xl);
  }
}

.o-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(81rem + var(--gutter) * 2);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  width: 100%;
}

.is-scroll-locked {
  overflow: hidden;
}