:root {
  /*colours*/
  --clr-main: #faead8;
  --clr-highlight: #419170;
  --clr-heart: #de3c3c;

  /*fonts*/
  --body-font-family: 'Londrina Solid', sans-serif;
  --base-font-size: 36px;
  --base-font-weight: 400;
  
}

#app {
  font-family: var(--body-font-family);
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

body {
  background-color: var(--clr-main);
  border: 0;
}

card {
  background-color: var(--clr-highlight)
}